In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('rucksacks.csv')

In [8]:
df

                                              items
0    hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL
1                          gRTRnCRsFNGbTzLjwcSTMmSz
2                            dGgsRWPGdWgZJqBBqhfpPq
3                    HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf
4                        dddvLdLjdDvjvswlmGwlZQtjrt
..                                              ...
295    DrNNBbwNHNwlbjFbbCNjNwDWWDPPVfDMgfmVMfnMWmmP
296                                rvJBbbBNcLCtJZQL
297          NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT
298        MSMSCnjBnBjCscjVDVljTvHmmWnrwTrwFTrvTWTT
299          JCMMBzDMJcZZCjDzSBDNJgdfdQlqlLNdhgGLhp

[300 rows x 1 columns]

In [44]:
def findd(row):
    items = row[0]
    half = len(items)//2
    first, second = items[:half], items[half:]
    for i in range(half):
        if first[i] in second:
            return first[i]

In [45]:
df['error'] = df.apply(findd, axis=1)

In [46]:
df

                                              items error
0    hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL     Q
1                          gRTRnCRsFNGbTzLjwcSTMmSz     T
2                            dGgsRWPGdWgZJqBBqhfpPq     P
3                    HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf     W
4                        dddvLdLjdDvjvswlmGwlZQtjrt     j
..                                              ...   ...
295    DrNNBbwNHNwlbjFbbCNjNwDWWDPPVfDMgfmVMfnMWmmP     D
296                                rvJBbbBNcLCtJZQL     J
297          NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT     P
298        MSMSCnjBnBjCscjVDVljTvHmmWnrwTrwFTrvTWTT     n
299          JCMMBzDMJcZZCjDzSBDNJgdfdQlqlLNdhgGLhp     J

[300 rows x 2 columns]

In [16]:
convert = {'a':1,
          'b':2,
          'c':3,
          'd':4,
          'e':5,
          'f':6,
          'g':7,
          'h':8,
          'i':9,
          'j':10,
          'k':11,
          'l':12,
          'm':13,
          'n':14,
          'o':15,
          'p':16,
          'q':17,
          'r':18,
          's':19,
          't':20,
          'u':21,
          'v':22,
          'w':23,
          'x':24,
          'y':25,
          'z':26,
          'A':27,
          'B':28,
          'C':29,
          'D':30,
          'E':31,
          'F':32,
          'G':33,
          'H':34,
          'I':35,
          'J':36,
          'K':37,
          'L':38,
          'M':39,
          'N':40,
          'O':41,
          'P':42,
          'Q':43,
          'R':44,
          'S':45,
          'T':46,
          'U':47,
          'V':48,
          'W':49,
          'X':50,
          'Y':51,
          'Z':52,
          }

In [49]:
df['priority'] = df['error'].map(convert)

In [50]:
df

                                              items error  priority
0    hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL     Q        43
1                          gRTRnCRsFNGbTzLjwcSTMmSz     T        46
2                            dGgsRWPGdWgZJqBBqhfpPq     P        42
3                    HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf     W        49
4                        dddvLdLjdDvjvswlmGwlZQtjrt     j        10
..                                              ...   ...       ...
295    DrNNBbwNHNwlbjFbbCNjNwDWWDPPVfDMgfmVMfnMWmmP     D        30
296                                rvJBbbBNcLCtJZQL     J        36
297          NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT     P        42
298        MSMSCnjBnBjCscjVDVljTvHmmWnrwTrwFTrvTWTT     n        14
299          JCMMBzDMJcZZCjDzSBDNJgdfdQlqlLNdhgGLhp     J        36

[300 rows x 3 columns]

In [51]:
df.priority.sum()

7674

In [69]:
df[0::3]['items'].reset_index(drop=True)

0     hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL
1                     HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf
2               QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss
3                 SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD
4                                   mPNNGVCRngnSbgNw
                           ...
95                            TsnvssDDQlRbzMzjDMqHwq
96              PgQdNsQFsdNwWqQBsQrTrTLpbrnTpGngnbTG
97                                DwlMjMNjStgmthMghg
98                                QsdGGCztZVRddPgndf
99            NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT
Name: items, Length: 100, dtype: object

In [70]:
df[0::3]['items']

0      hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL
3                      HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf
6                QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss
9                  SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD
12                                   mPNNGVCRngnSbgNw
                            ...
285                            TsnvssDDQlRbzMzjDMqHwq
288              PgQdNsQFsdNwWqQBsQrTrTLpbrnTpGngnbTG
291                                DwlMjMNjStgmthMghg
294                                QsdGGCztZVRddPgndf
297            NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT
Name: items, Length: 100, dtype: object

In [9]:
df2 = pd.concat([df[0::3]['items'].reset_index(drop=True),
                 df[1::3]['items'].reset_index(drop=True),
                 df[2::3]['items'].reset_index(drop=True)], axis=1)

In [10]:
df2

,items,items,items
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,gRTRnCRsFNGbTzLjwcSTMmSz,dGgsRWPGdWgZJqBBqhfpPq
1,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,dddvLdLjdDvjvswlmGwlZQtjrt,dvcpbLVcvNJJHNPHSp
2,QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss,gWGGPgNvJlgJzDlNGHCGPNZZgFBbsjbFFBwZwfhdZbZB,lHTlGMHlGCPNvClzGzJHvGcrMcVtLqMLcrrQVcVDrqrm
3,SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD,jLtjvzLQMtWjbbQvDZZwGRJGgwggGZgv,MzqqjznQPqnnjznnctnFlSddPfHflhfBJFNdHd
4,mPNNGVCRngnSbgNw,WqsqlTssgvqvZWZzhsTzWhScdHtfJJnfbtSJwfczdtSS,sqTvhpqQvWZQLmDpDGMDGrgL
...,...,...,...
95,TsnvssDDQlRbzMzjDMqHwq,tSGjZCfFZtCFLtVGWGZFbcqwHbhWdbzbwHbdwbdw,ZGBFJFZVBLjStZPBBZLRvlmsPTvsgrrnrTllvs
96,PgQdNsQFsdNwWqQBsQrTrTLpbrnTpGngnbTG,hCzzMJVDmfzmBDMCfSfhTMGcnpnTcjGrpjbMGjbL,CVVfvCflSHNHvPdBHW
97,DwlMjMNjStgmthMghg,PTlpHnJJTcZvTTbHZWZTvpqdHhmLgrgdfrhLLsmshmsLts,vncqTbPqcpCnbCPvccZbDBCGzzNBwjDlVVGFjjVR
98,QsdGGCztZVRddPgndf,DrNNBbwNHNwlbjFbbCNjNwDWWDPPVfDMgfmVMfnMWmmP,rvJBbbBNcLCtJZQL
99,NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT,MSMSCnjBnBjCscjVDVljTvHmmWnrwTrwFTrvTWTT,JCMMBzDMJcZZCjDzSBDNJgdfdQlqlLNdhgGLhp

In [13]:
def findd3(row):
    first = row[0]
    second = row[1]
    third = row[2]
    l = ''
    for i in range(len(first)):
        if first[i] in second:
            l += first[i]
    for i in range(len(l)):
        if l[i] in third:
            return l[i]

In [14]:
df2['common'] = df2.apply(findd3, axis=1)

In [15]:
df2

,items,items,items,common
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,gRTRnCRsFNGbTzLjwcSTMmSz,dGgsRWPGdWgZJqBBqhfpPq,s
1,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,dddvLdLjdDvjvswlmGwlZQtjrt,dvcpbLVcvNJJHNPHSp,L
2,QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss,gWGGPgNvJlgJzDlNGHCGPNZZgFBbsjbFFBwZwfhdZbZB,lHTlGMHlGCPNvClzGzJHvGcrMcVtLqMLcrrQVcVDrqrm,D
3,SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD,jLtjvzLQMtWjbbQvDZZwGRJGgwggGZgv,MzqqjznQPqnnjznnctnFlSddPfHflhfBJFNdHd,J
4,mPNNGVCRngnSbgNw,WqsqlTssgvqvZWZzhsTzWhScdHtfJJnfbtSJwfczdtSS,sqTvhpqQvWZQLmDpDGMDGrgL,g
...,...,...,...,...
95,TsnvssDDQlRbzMzjDMqHwq,tSGjZCfFZtCFLtVGWGZFbcqwHbhWdbzbwHbdwbdw,ZGBFJFZVBLjStZPBBZLRvlmsPTvsgrrnrTllvs,j
96,PgQdNsQFsdNwWqQBsQrTrTLpbrnTpGngnbTG,hCzzMJVDmfzmBDMCfSfhTMGcnpnTcjGrpjbMGjbL,CVVfvCflSHNHvPdBHW,B
97,DwlMjMNjStgmthMghg,PTlpHnJJTcZvTTbHZWZTvpqdHhmLgrgdfrhLLsmshmsLts,vncqTbPqcpCnbCPvccZbDBCGzzNBwjDlVVGFjjVR,l
98,QsdGGCztZVRddPgndf,DrNNBbwNHNwlbjFbbCNjNwDWWDPPVfDMgfmVMfnMWmmP,rvJBbbBNcLCtJZQL,C
99,NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT,MSMSCnjBnBjCscjVDVljTvHmmWnrwTrwFTrvTWTT,JCMMBzDMJcZZCjDzSBDNJgdfdQlqlLNdhgGLhp,l

In [17]:
df2['priority'] = df2['common'].map(convert)

In [18]:
df2

,items,items,items,common,priority
0,hqBqJsqHhHvhHHqlBvlfpHQQwLVzVwtVzjzttjQVSjMjwL,gRTRnCRsFNGbTzLjwcSTMmSz,dGgsRWPGdWgZJqBBqhfpPq,s,19
1,HNCNJHCWJRRLqNJWlfrrrwsmlwGmmf,dddvLdLjdDvjvswlmGwlZQtjrt,dvcpbLVcvNJJHNPHSp,L,38
2,QDprSpLQRLQrQDmQcQFZjbbhZwdRsRFbbBss,gWGGPgNvJlgJzDlNGHCGPNZZgFBbsjbFFBwZwfhdZbZB,lHTlGMHlGCPNvClzGzJHvGcrMcVtLqMLcrrQVcVDrqrm,D,30
3,SrBpJFfldlFNslFJBZwsmwgVGGsCCVmZZD,jLtjvzLQMtWjbbQvDZZwGRJGgwggGZgv,MzqqjznQPqnnjznnctnFlSddPfHflhfBJFNdHd,J,36
4,mPNNGVCRngnSbgNw,WqsqlTssgvqvZWZzhsTzWhScdHtfJJnfbtSJwfczdtSS,sqTvhpqQvWZQLmDpDGMDGrgL,g,7
...,...,...,...,...,...
95,TsnvssDDQlRbzMzjDMqHwq,tSGjZCfFZtCFLtVGWGZFbcqwHbhWdbzbwHbdwbdw,ZGBFJFZVBLjStZPBBZLRvlmsPTvsgrrnrTllvs,j,10
96,PgQdNsQFsdNwWqQBsQrTrTLpbrnTpGngnbTG,hCzzMJVDmfzmBDMCfSfhTMGcnpnTcjGrpjbMGjbL,CVVfvCflSHNHvPdBHW,B,28
97,DwlMjMNjStgmthMghg,PTlpHnJJTcZvTTbHZWZTvpqdHhmLgrgdfrhLLsmshmsLts,vncqTbPqcpCnbCPvccZbDBCGzzNBwjDlVVGFjjVR,l,12
98,QsdGGCztZVRddPgndf,DrNNBbwNHNwlbjFbbCNjNwDWWDPPVfDMgfmVMfnMWmmP,rvJBbbBNcLCtJZQL,C,29
99,NfLlqLhbNPddLPqLhpgHwFFwFHHTwRHWwPFTrT,MSMSCnjBnBjCscjVDVljTvHmmWnrwTrwFTrvTWTT,JCMMBzDMJcZZCjDzSBDNJgdfdQlqlLNdhgGLhp,l,12

In [19]:
df2['priority'].sum()

2805